/* Default styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Color variables */
:root {
  --bg-color: #800000;
  --black: #000000;
  --blue: #19306e;
  --light-blue: #8f90b5;
  --lighter-blue: #d9d9e6;
  --brown: #6b2412;
  --light-brown: #983315;
  --lighter-brown: #a45a3a;
  --dark-brown: #59351f;
  --orange: #e5501b;
  --skin-color: #e19d61;
  --white: #f5e1c4;
}

/* Switch button styles */
.switch {
  position: relative;
  display: flex;
  width: 40px;
  height: 20px;
  top: -270px;
  left: 780px;
  z-index: 999;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lighter-blue);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: var(--light-blue);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:checked + .slider:before {
  transform: translate(16px);
}

/* Global background */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-blue);
}

/* Lighthouse container */
.container {
  position: relative;
  background: rgb(12, 12, 23);
  background: radial-gradient(
    circle,
    rgba(12, 12, 23, 1) 0%,
    rgba(0, 0, 0, 1) 57%
  );
  height: 600px;
  width: 800px;
  overflow: hidden;
}

/* LightHouse glow */
.c1 {
  position: absolute;
  background: rgb(64, 32, 4);
  background: radial-gradient(
    circle,
    rgba(64, 32, 4, 1) 0%,
    rgba(12, 12, 23, 1) 3%,
    rgba(0, 0, 0, 1) 44%
  );
  height: 900px;
  width: 900px;
  border-radius: 100%;
  top: -189px;
  left: -50px;
  animation: glowing 5s forwards linear infinite;
  animation-delay: 9s;
}

.c2 {
  position: absolute;
  background: rgb(117, 58, 6);
  background: radial-gradient(
    circle,
    rgba(117, 58, 6, 1) 6%,
    rgba(19, 21, 39, 1) 26%,
    rgba(12, 12, 23, 1) 72%
  );
  height: 700px;
  width: 700px;
  border-radius: 100%;
  top: -100px;
  left: 50px;
  animation: glowing 5s forwards linear infinite;
  animation-delay: 8s;
}

.c3 {
  position: absolute;
  background: rgb(163, 85, 18);
  background: radial-gradient(
    circle,
    rgba(163, 85, 18, 1) 6%,
    rgba(22, 27, 56, 1) 74%,
    rgba(19, 21, 39, 1) 100%
  );
  height: 500px;
  width: 500px;
  border-radius: 100%;
  top: -9px;
  left: 150px;
  animation: glowing 5s forwards linear infinite;
  animation-delay: 7s;
}

.c4 {
  position: absolute;
  background: rgb(177, 92, 19);
  background: radial-gradient(
    circle,
    rgba(177, 92, 19, 1) 6%,
    rgba(24, 34, 73, 1) 70%,
    rgba(22, 27, 56, 1) 100%
  );
  height: 380px;
  width: 380px;
  border-radius: 100%;
  top: 45px;
  left: 210px;
  animation: glowing 5s forwards linear infinite;
  animation-delay: 6s;
}

.c5 {
  position: absolute;
  background: rgb(203, 106, 22);
  background: radial-gradient(
    circle,
    rgba(203, 106, 22, 1) 6%,
    rgba(25, 41, 91, 1) 77%,
    rgba(24, 34, 73, 1) 100%
  );
  height: 280px;
  width: 280px;
  border-radius: 100%;
  top: 90px;
  left: 260px;
  animation: glowing 5s forwards linear infinite;
  animation-delay: 5s;
}

.c6 {
  position: absolute;
  background: rgb(224, 118, 26);
  background: radial-gradient(
    circle,
    rgba(224, 118, 26, 1) 6%,
    rgba(25, 48, 110, 1) 93%,
    rgba(25, 41, 91, 1) 100%
  );
  height: 180px;
  width: 180px;
  border-radius: 100%;
  top: 136px;
  left: 312px;
  animation: glowing 5s forwards linear infinite;
  animation-delay: 4s;
}

.c7 {
  position: absolute;
  background: rgb(224, 117, 25);
  background: radial-gradient(
    circle,
    rgba(224, 117, 25, 1) 43%,
    rgba(25, 48, 110, 1) 100%
  );
  height: 130px;
  width: 130px;
  border-radius: 100%;
  top: 160px;
  left: 337px;
  animation: glowing 5s forwards linear infinite;
  animation-delay: 3s;
}

.c8 {
  position: absolute;
  background: var(--skin-color);
  height: 90px;
  width: 90px;
  border-radius: 100%;
  top: 180px;
  left: 357px;
  animation: glowing 5s forwards linear infinite;
  animation-delay: 2s;
}

.c9 {
  position: absolute;
  background: var(--orange);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  top: 200px;
  left: 376px;
  animation: glowing 5s forwards linear infinite;
  animation-delay: 1s;
}

.c10 {
  position: absolute;
  background: var(--white);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  top: 210px;
  left: 386px;
  animation: glowing 5s forwards linear infinite;
}

/* LightHouse tower */
.lh1 {
  position: absolute;
  background: rgb(156, 144, 126);
  background: linear-gradient(
    0deg,
    rgba(156, 144, 126, 1) 6%,
    rgba(200, 184, 160, 1) 77%,
    rgba(245, 225, 196, 1) 100%
  );
  height: 60px;
  width: 87px;
  clip-path: polygon(20% 0%, 80% 0%, 90% 100%, 10% 100%);
  top: 280px;
  left: 357px;
}

.lh2 {
  position: absolute;
  background: rgb(128, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(128, 0, 0, 1) 6%,
    rgba(122, 30, 25, 1) 63%,
    rgba(114, 45, 45, 1) 100%
  );
  height: 60px;
  width: 115px;
  clip-path: polygon(20% 0%, 80% 0%, 90% 100%, 10% 100%);
  top: 340px;
  left: 343px;
}

.lh3 {
  position: absolute;
  background: rgb(156, 144, 126);
  background: linear-gradient(
    0deg,
    rgba(156, 144, 126, 1) 6%,
    rgba(200, 184, 160, 1) 74%,
    rgba(245, 225, 196, 1) 100%
  );
  height: 60px;
  width: 153px;
  clip-path: polygon(20% 0%, 80% 0%, 90% 100%, 10% 100%);
  top: 400px;
  left: 324px;
}

.lh4 {
  position: absolute;
  background: rgb(128, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(128, 0, 0, 1) 6%,
    rgba(122, 30, 25, 1) 26%,
    rgba(114, 45, 45, 1) 72%
  );
  height: 60px;
  width: 205px;
  clip-path: polygon(20% 0%, 80% 0%, 90% 100%, 10% 100%);
  top: 460px;
  left: 298px;
}

.lh5 {
  position: absolute;
  background: rgb(156, 144, 126);
  background: linear-gradient(
    0deg,
    rgba(156, 144, 126, 1) 6%,
    rgba(200, 184, 160, 1) 77%,
    rgba(245, 225, 196, 1) 100%
  );
  height: 60px;
  width: 40px;
  clip-path: polygon(20% 0%, 80% 0%, 90% 100%, 10% 100%);
  top: 280px;
  left: 380px;
}

.lh6 {
  position: absolute;
  background: rgb(128, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(128, 0, 0, 1) 6%,
    rgba(122, 30, 25, 1) 63%,
    rgba(114, 45, 45, 1) 100%
  );
  height: 60px;
  width: 40px;
  clip-path: polygon(20% 0%, 80% 0%, 90% 100%, 10% 100%);
  top: 340px;
  left: 380px;
}

.lh7 {
  position: absolute;
  background: rgb(156, 144, 126);
  background: linear-gradient(
    0deg,
    rgba(156, 144, 126, 1) 6%,
    rgba(200, 184, 160, 1) 74%,
    rgba(245, 225, 196, 1) 100%
  );
  height: 60px;
  width: 40px;
  clip-path: polygon(20% 0%, 80% 0%, 90% 100%, 10% 100%);
  top: 400px;
  left: 380px;
}

.lh8 {
  position: absolute;
  background: rgb(128, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(128, 0, 0, 1) 6%,
    rgba(122, 30, 25, 1) 26%,
    rgba(114, 45, 45, 1) 72%
  );
  height: 60px;
  width: 40px;
  clip-path: polygon(20% 0%, 80% 0%, 90% 100%, 10% 100%);
  top: 460px;
  left: 380px;
}

.lh9 {
  position: absolute;
  background: rgb(128, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(114, 45, 45, 1) 0%,
    rgba(122, 30, 25, 1) 3%,
    rgba(128, 0, 0, 1) 44%
  );
  height: 35px;
  width: 75px;
  clip-path: polygon(20% 0%, 85% 0%, 90% 100%, 15% 100%);
  top: 245px;
  left: 361.3px;
}

.window {
  position: absolute;
  width: 15px;
  height: 25px;
  border-radius: 50px 50px 0 0;
  background: var(--black);
  left: 13px;
  top: 30px;
}

.door {
  position: absolute;
  width: 25px;
  height: 60px;
  border-radius: 50px 50px 0 0;
  background: var(--black);
  left: 8px;
  top: 20px;
}

/* LightHouse balcony */
.r1,
.r2 {
  background: var(--bg-color);
  position: absolute;
  height: 3px;
  width: 80px;
  top: 243px;
  left: 361px;
}

.r2 {
  top: 205px;
}

.r3,
.r4,
.r5,
.r6 {
  background: var(--bg-color);
  position: absolute;
  height: 3px;
  width: 40px;
  top: 223px;
  left: 350px;
  transform: rotate(90deg);
}

.r4 {
  left: 370px;
}

.r5 {
  left: 390px;
}

.r6 {
  left: 410px;
}

.r7 {
  background: var(--bg-color);
  position: absolute;
  height: 3px;
  width: 84px;
  top: 278px;
  left: 358px;
}

.r8 {
  background: var(--bg-color);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  position: absolute;
  height: 10px;
  width: 90px;
  transform: rotate(180deg);
  top: 278px;
  left: 356px;
}

/* LightHouse anntena */
.anntena {
  position: absolute;
  border-radius: 100px 100px 0 0;
  background: var(--bg-color);
  height: 30px;
  width: 20px;
  top: 160px;
  left: 391px;
}

/* LightHouse top */
.top {
  position: absolute;
  border-radius: 100px 100px 0 0;
  background: var(--bg-color);
  height: 30px;
  width: 60px;
  top: 175px;
  left: 372px;
}

/* Boat styles */
.sail {
  position: absolute;
  z-index: 999;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid var(--white);
  bottom: 95px;
  left: 71px;
  animation: boat 10s forwards linear infinite;
  animation-delay: 1s;
}

.mast {
  position: absolute;
  z-index: 999;
  height: 15px;
  width: 3px;
  background: var(--dark-brown);
  bottom: 80px;
  left: 90px;
  animation: boat 10s forwards linear infinite;
  animation-delay: 1s;
}

.boat {
  position: absolute;
  z-index: 999;
  width: 70px;
  height: 0px;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: 20px solid var(--dark-brown);
  bottom: 65px;
  left: 55px;
  animation: boat 10s forwards linear infinite;
  animation-delay: 1s;
}

/* Water */
.water {
  position: absolute;
  height: 100px;
  width: 1000px;
  background: rgb(25, 48, 110);
  background: linear-gradient(
    180deg,
    rgba(25, 48, 110, 1) 2%,
    rgba(22, 27, 56, 1) 26%,
    rgba(14, 8, 15, 1) 70%
  );
  bottom: 5px;
  right: 0;
  animation: tide 10s forwards linear infinite;
  animation-delay: 1s;
}

/* Rock */
.rock1,
.rock2,
.rock3,
.rock4 {
  position: absolute;
  height: 50px;
  width: 100px;
  border-radius: 200px 200px 0 0;
}

.rock1 {
  background: rgb(120, 50, 16);
  background: linear-gradient(
    180deg,
    rgba(120, 50, 16, 1) 6%,
    rgba(47, 25, 14, 1) 26%,
    rgba(14, 8, 15, 1) 72%
  );
  bottom: 48px;
  left: 300px;
}

.rock2 {
  background: rgb(47, 25, 14);
  background: linear-gradient(
    180deg,
    rgba(47, 25, 14, 1) 26,
    rgba(14, 8, 15, 1) 72%
  );
  bottom: 40px;
  left: 280px;
}

.rock3 {
  background: rgb(91, 38, 12);
  background: linear-gradient(
    180deg,
    rgba(91, 38, 12, 1) 0%,
    rgba(47, 25, 14, 1) 26%,
    rgba(14, 8, 15, 1) 72%
  );
  bottom: 40px;
  left: 330px;
}

.rock4 {
  background: rgb(47, 25, 14);
  background: linear-gradient(
    180deg,
    rgba(47, 8, 15, 1) 74%,
    rgba(47, 25, 14, 1) 100%
  );
  bottom: 40px;
  left: 390px;
}

/* Glowing animation */
@keyframes glowing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Tide animation */
@keyframes tide {
  0% {
    height: 100px;
  }
  50% {
    height: 150px;
  }
  100% {
    height: 100px;
  }
}

/* Boat animation */
@keyframes boat {
  0% {
    transform: translate(50px, 0) rotate(5deg);
  }
  50% {
    transform: translate(150px, 10px) rotate(-5deg);
  }
  100% {
    transform: translate(50px, 0) rotate(5deg);
  }
}
